<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou100.crowdfunding.mapper.LetterMapper">
	<!-- 定义LetterMap -->
	<resultMap id="LetterMap"
		type="com.zhiyou100.crowdfunding.model.Letter">
		<id column="le_id" property="id"></id>
		<result column="le_us_addresserid" property="userAddresserId"></result>
		<result column="le_us_recipientsid" property="userRecipientsId"></result>
		<result column="le_content" property="content"></result>
		<result column="le_create_time" property="createTime"></result>
	</resultMap>
	<!-- 添加数据 -->
	<insert id="doCreate"
		parameterType="com.zhiyou100.crowdfunding.model.Letter">
		INSERT INTO letter(le_id, le_us_addresserid, le_us_recipientsid,
		le_content, le_create_time) VALUES
		(#{id}, #{userAddresserId}, #{userRecipientsId},
		#{content}, #{createTime});
	</insert>
	<!-- 修改数据 -->
	<update id="doUpdate"
		parameterType="com.zhiyou100.crowdfunding.model.Letter">
		UPDATE letter SET le_us_addresserid = #{userAddresserId},
		le_us_recipientsid =
		#{userRecipientsId}, le_content = #{content}, le_create_time =
		#{createTime} WHERE le_id = #{id};
	</update>
	<!-- 单个删除 -->
	<delete id="doRemove" parameterType="java.lang.Integer">
		DELETE FROM letter WHERE
		le_id
		= #{id};
	</delete>
	<!-- 批量删除 -->
	<delete id="doRemoveBatch" parameterType="java.lang.Integer">
		DELETE FROM letter WHERE le_id IN
		<foreach item="col" collection="collection" open="("
			separator="," close=")">
			#{col}
		</foreach>
	</delete>
	<!-- 根据id查询 -->
	<select id="findById" parameterType="java.lang.Integer"
		resultMap="LetterMap">
		SELECT le_id, le_us_addresserid, le_us_recipientsid, le_content,
		le_create_time FROM
		letter WHERE le_id = #{id};
	</select>
	<!-- 查询所有 -->
	<select id="findAll" resultMap="LetterMap">
		SELECT le_id, le_us_addresserid,
		le_us_recipientsid, le_content, le_create_time FROM letter;
	</select>
	<!-- 查询所有id -->
	<select id="findAllId" resultType="java.lang.Integer">
		SELECT le_id FROM letter;
	</select>
	<!-- 查询所有行数 -->
	<select id="findAllCount" resultType="java.lang.Long">
		SELECT COUNT(0) FROM letter;
	</select>
	<!-- 条件查询行数 -->
	<select id="findCountByColumn" parameterType="java.util.Map"
		resultType="java.lang.Long">
		SELECT COUNT(0) FROM letter
		<if test="column != null and keyword != null">
			WHERE ${column} LIKE #{keyword}
		</if>
		;
	</select>
	<!-- 分页查询 -->
	<select id="findAllSplit" parameterType="java.util.Map"
		resultMap="LetterMap">
		SELECT le_id, le_us_addresserid, le_us_recipientsid, le_content,
		le_create_time FROM letter LIMIT #{start}, #{lineSize};
	</select>
	<!-- 模糊分页查询 -->
	<select id="findSplitByColumn" parameterType="java.util.Map"
		resultMap="LetterMap">
		SELECT le_id, le_us_addresserid, le_us_recipientsid, le_content,
		le_create_time FROM letter
		<if test="column != null and keyword != null">
			WHERE ${column} LIKE #{keyword}
		</if>
		LIMIT #{start}, #{lineSize};
	</select>
</mapper>