<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou100.crowdfunding.mapper.LogsMapper">
	<!-- 定义LogsMap -->
	<resultMap id="LogsMap"
		type="com.zhiyou100.crowdfunding.model.Logs">
		<id column="log_id" property="id"></id>
		<result column="log_us_id" property="userId"></result>
		<result column="log_content" property="content"></result>
	</resultMap>
	<!-- 添加数据 -->
	<insert id="doCreate"
		parameterType="com.zhiyou100.crowdfunding.model.Logs">
		INSERT INTO logs(log_id, log_us_id,
		log_content) VALUES
		(#{id}, #{userId},
		#{content});
	</insert>
	<!-- 修改数据 -->
	<update id="doUpdate"
		parameterType="com.zhiyou100.crowdfunding.model.Logs">
		UPDATE logs SET log_us_id = #{userId}, log_content =
		#{content} WHERE log_id = #{id};
	</update>
	<!-- 单个删除 -->
	<delete id="doRemove" parameterType="java.lang.Integer">
		DELETE FROM logs WHERE
		log_id = #{id};
	</delete>
	<!-- 批量删除 -->
	<delete id="doRemoveBatch" parameterType="java.lang.Integer">
		DELETE FROM logs WHERE log_id IN
		<foreach item="col" collection="collection" open="("
			separator="," close=")">
			#{col}
		</foreach>
	</delete>
	<!-- 根据id查询 -->
	<select id="findById" parameterType="java.lang.Integer"
		resultMap="LogsMap">
		SELECT log_id, log_us_id, log_content FROM
		logs WHERE log_id
		= #{id};
	</select>
	<!-- 查询所有 -->
	<select id="findAll" resultMap="LogsMap">
		SELECT log_id, log_us_id,
		log_content, FROM logs;
	</select>
	<!-- 查询所有id -->
	<select id="findAllId" resultType="java.lang.Integer">
		SELECT log_id FROM logs;
	</select>
	<!-- 查询所有行数 -->
	<select id="findAllCount" resultType="java.lang.Long">
		SELECT COUNT(0) FROM logs;
	</select>
	<!-- 条件查询行数 -->
	<select id="findCountByColumn" parameterType="java.util.Map"
		resultType="java.lang.Long">
		SELECT COUNT(0) FROM logs
		<if test="column != null and keyword != null">
			WHERE ${column} LIKE #{keyword}
		</if>
		;
	</select>
	<!-- 分页查询 -->
	<select id="findAllSplit" parameterType="java.util.Map"
		resultMap="LogsMap">
		SELECT log_id, log_us_id, log_content FROM logs LIMIT
		#{start}, #{lineSize};
	</select>
	<!-- 模糊分页查询 -->
	<select id="findSplitByColumn" parameterType="java.util.Map"
		resultMap="LogsMap">
		SELECT log_id, log_us_id, log_content FROM logs
		<if test="column != null and keyword != null">
			WHERE ${column} LIKE #{keyword}
		</if>
		LIMIT #{start}, #{lineSize};
	</select>
</mapper>